*{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(221, 252, 241);
}

.container{
    background-color:aqua;
    padding: 3rem;
    border-radius: 1rem;
    min-height: 50vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}

form input{
    border: 1px solid black;
    font-size: 1.15rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img{
    width: 30px;

    /* border: 1px solid black; */
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 2rem;
    color: #fff;
    background-color: brown;
    cursor: pointer;
}

.light{
    position: absolute;
    border: 1px solid black;
    width: 5rem;
    margin:  0 0 430px 250px;
}

.dark{
    position: absolute;
    border: 1px solid black;
    width: 5rem;
    margin:  0 0 430px 250px;
}